# 컨테이너(Container)

여러 개의 값을 저장할 수 있는 것(객체)을 의미하며, `서로 다른 자료형`을 저장 할 수 있습니다.

### 컨테이너 분류
- 시퀀스(Sequence)형 : 순서가 있는(ordered) 데이터
- 비 시퀀스(Non-sequence)형 : 순서가 없는(unordered) 데이터

<img width="712" alt="container" src="https://user-images.githubusercontent.com/45934087/148164052-3b12d3a2-a95e-4d4d-ae25-86ca1ba9657b.png">

## 시퀀스(sequence)형 컨테이너

`시퀀스`는 데이터가 순서대로 나열된(ordered) 형식을 나타냅니다.

* **주의! 순서대로 나열된 것이 `정렬되었다(sorted)`라는 뜻은 아닙니다.**

    n번째 값을 꺼낼 수 있다는 것

### 특징
1. 순서가 있습니다.

2. **특정 위치의 데이터를 가리킬 수 있습니다.**

### 종류
파이썬에서 기본적인 시퀀스 타입은 다음과 같습니다.

* 리스트(list)

* 튜플(tuple)

* 레인지(range)

* *문자형(string)*

* *바이너리(binary)* : 다루지 않습니다.


### 리스트 (List)

<center><img src="https://user-images.githubusercontent.com/18046097/61180421-fe90ae80-a650-11e9-8211-d06f87756d05.png", alt="list figure"/></center>

**생성과 접근**
```python
[value1, value2, value3]
```

리스트는 대괄호`[]` 및 `list()` 를 통해 만들 수 있습니다.

In [ ]:
# 빈 list를 만들어봅시다.
# 변수명 my_list인 list를 대괄호로 만들어봅시다.
# 변수명 another_list인 list를 list()로 만들어 봅시다.
# 두 변수의 타입을 출력해 봅시다.

my_list = []
# list()는 다른 데이터 타입을 리스트로 바꿔줄 때 쓰는 것
another_list = list()
print(my_list, another_list)

In [ ]:
# 원소를 포함한 list를 만들어 봅시다.
# 변수명이 locations인 list에 동네 5곳을 넣어봅시다
# 변수 locations을 출력해 봅시다.
# locations의 타입을 출력해 봅시다.

# list의 변수명은 항상 복수형

locations = ['서초구','강남구','동작구','영등포구','용산구']
print(locations, type(locations))

In [ ]:
# locations의 첫번째 값을 인덱스로 접근해 봅시다.
print(locations[0])

In [ ]:
# negative index

# 가장 기본적인 생각
last_idx = len(locations) - 1
print(locations[last_idx])

# 그걸 좀 줄인 방식(일반적인 프로그래밍 언어에서 사용함)
print(locations[len(locations) - 1])

# 파이썬만의 힙스터 감성
print(locations[-1])
# 1번 object 왼쪽에는 마지막 object가 있다?


순서가 있는 시퀀스로 인덱스를 통해 접근 가능합니다.
- 값에 대한 접근은 `list[i]` 방식으로 접근합니다.

![image](https://user-images.githubusercontent.com/45934087/148164331-f0ff4193-6b05-4d99-bbde-dd1eef13b0b1.png)

In [ ]:
# 변수 boxes에 문자열 'A', 'B', 리스트 ['apple', 'banana', 'cherry']를 할당합니다.
boxes = ['A', 'B', ['apple', 'banana', 'cherry']]
# 리스트 안에 리스트가 들어갈 수 있다.
# 다른 데이터타입들이 한 리스트에 들어갈 수 있다.

In [ ]:
# boxes의 길이를 len 함수를 이용하여 출력해 봅시다.
len(boxes)

In [ ]:
# boxes의 3번째 요소를 인덱스로 접근하여 출력해 봅시다.
print(boxes[2])

In [ ]:
# boxes의 3번째 요소들 중, 마지막 요소를 negative index로 접근하여 출력해 봅시다.
print(boxes[2][-1])

In [ ]:
# boxes의 마지막 요소들 중, 두번째 요소의 첫번째 알파벳을 출력해 봅시다.
print(boxes[-1][1][0])

### 튜플 (Tuple)

**생성과 접근**
```python
(value1, value2)
```

튜플은 리스트와 유사하지만, `()`로 묶어서 표현합니다.

- tuple은 수정 불가능(불변, immutable)합니다.

- 직접 사용하기 보다는 파이썬 내부에서 다양한 용도로 활용되고 있습니다.

In [ ]:
# immutable
# 내부 값을 바꿀 수 없다
# 튜플을 리스트로 바꾸고 값을 바꿔서 다시 튜플로 바꿔주면 튜플이 바뀐 걸로 보이지만,
# 그럼 이전/이후가 같은 튜플이 아니다.
# 메모리에서 서로 다른 부분을 차지하는 중
# "원래 상태에서" 내부 값을 바꿀 수 없음

In [ ]:
# tuple을 만들어봅시다.
# 변수명이 my_tuple인 tuple을 만들어 봅시다. 단, 무작위 정수 2개를 포함하여 만듭니다.
# my_tuple의 타입을 출력해 봅시다.

my_tuple = (13,54)
print(my_tuple, type(my_tuple))

In [ ]:
# 아래와 같은 방식으로도 만들 수 있습니다.
tuple([45,54,23])

**튜플 생성 주의 사항**
- 단일 항목의 경우

In [ ]:
# 하나의 항목으로 구성된 튜플은 생성 시 값 뒤에 쉼표를 붙여야 합니다.
# 아래 코드를 실행하여 변수 a의 타입을 확인해 봅시다.
list_1 = [1]
tuple_1 = (1)
# 이건 연산 우선순위에서 쓰는 소괄호로 이해함

print(list_1, type(list_1))
print(tuple_1, type(tuple_1))

tuple_1 = (1,)
# 콤마를 뒤에 찍으면 이건 튜플이라고 이해

print(tuple_1, type(tuple_1))

- 복수 항목의 경우

In [ ]:
# 마지막 항목에 붙은 쉼표는 생략 할 수 있습니다.
# 여러 줄로 쓸 경우는 쓰는게 권장, 한줄일땐 생략하는게 권장
# 아래 코드를 실행하여 변수 b와 c의 타입을 확인해 봅시다.
b = (1,2)
c = (1,2,)
print(type(b), type(c))

**튜플 대입**
- 우변의 값을 좌변의 변수에 한번에 할당하는 과정을 의미합니다.
- 튜플은 일반적으로 파이썬 내부에서 활용됩니다.
    - 추후 함수 파트에서 복수의 값을 반환하는 경우에도 확인할 수 있습니다.

In [ ]:
# 파이썬 내부에서는 다음과 같이 활용됩니다. (변수 및 자료형 예제에서 사용된 코드입니다.)
a, b = 1, 2

In [ ]:
# 실제로는 tuple로 처리됩니다.
x = 1, 2
print(x, type(x))

In [ ]:
# 변수의 값을 swap하는 코드 역시 tuple을 활용하고 있습니다.
x, y = 1, 2
y, x = x, y
# (x, y) = (1, 2)
# (y, x) = (x, y)

type(x), type(y)
# >> (int, int)
# 이거 튜플임

# 파이썬은 빈 곳에서 콤마로 구분된 걸 보면 튜플로 인식해버린다.

In [ ]:
# 변수명이 empty인 빈 tuple을 만들어 봅시다.
# 빈 tuple은 빈 괄호 쌍으로 만들어집니다.
# empty의 타입을 출력해 봅시다.
# empty의 길이를 출력해 봅시다.

empty = ()
print(empty, type(empty))
print(len(empty))

In [ ]:
# 인덱스 접근도 당연히 된다.
some_tuple = (1,2,3,4,5)
print(some_tuple[0])

### 레인지 (range())

`range` 는 정수의 시퀀스를 나타내기 위해 사용됩니다.

기본형 : `range(n)`


> 0부터 n-1까지 값을 가짐


범위 지정 : `range(n, m)`

> n부터 m-1까지 값을 가짐

범위 및 스텝 지정 : `range(n, m, s)`

> n부터 m-1까지 +s만큼 증가한다

In [ ]:
# range를 만들어봅시다.
# 0부터 2까지 값을 가지는 range를 만들고 타입을 출력해 봅시다.
range(3)
# 0, 1, 2
print(range(3), type(range(3)))
# 특수기호가 할당된 걸 리터럴이라고 한다.
# 리스트는 리터럴, 레인지는 리터럴 아님

In [ ]:
# 0부터 9까지 값을 가지는 range를 만들고 list로 형 변환을 해 봅시다.
# 작성한 range를 list()로 감싸 형 변환 할 수 있습니다.
print(range(10))

# 0, 1, 2, ... , 9
print(list(range(10)))

# 리스트를 0부터 9까지 만들면 0부터 9까지 모든 숫자가 메모리에 들어감
# 레인지를 0부터 9까지 만들면 제너레이터만 메모리에 올라가고, 내가 꺼내 써야 할 때만 전체 내용을 쓴다.
# 메모리 절약용

In [ ]:
# 4부터 8까지의 숫자를 담은 range를 만들고 list로 형 변환을 해 봅시다.
print(list(range(4, 9)))

# 보통 숫자 2개 나오면 앞에껀 포함, 뒤에껀 포함 안하는 경우가 많다.

In [ ]:
# range(start, end, [step, ])을 활용합니다.
# 0부터 -9까지 담긴 range를 만들고 list로 형 변환을 해 봅시다.
# 출력 결과는 다음과 같습니다.
# [0, -1, -2, -3, -4, -5, -6, -7, -8, -9]
r = range(0,-10,-1)
print(list(r))

# step을 쓰면 꼭 마지막 숫자가 들어가지 않을 수도 있다.
list(range(1, 10, 2))  # [1, 3, 5, 7, 9]

# start는 항상 원하는 첫번째 값
# [10, 9, 8, 7, ... , 1]
list(range(10, 0, 1))  # >> []
list(range(10, 0, -1))  # 이게 정답

# range(start, end, step)은 start부터 step만큼 더할 것이고, 결과값이 end보다 작은 값들을 넣을 것

### 패킹 / 언패킹 연산자 (Packing / Unpacking Operator)
모든 시퀀스형(리스트, 튜플 등)은 패킹/언패킹 연산자 * 를 사용하여 객체의 패킹 또는 언패킹이 가능합니다.
```python
x, *y = i, j, k ...
```

**패킹**
- 대입문의 좌변 변수에 위치합니다.
- 우변의 객체 수가 좌변의 변수 수보다 많을 경우 객체를 순서대로 대입합니다.
- 나머지 항목들은 모두 별 기호 표시된 변수에 리스트로 대입합니다.

In [ ]:
# x 를 패킹을 통해 저장해 봅시다.

In [ ]:
# x, y = 1, 2, 3
# ValueError: too many values to unpack (expected 2)

x, *y = 1, 2, 3
# *는 짬처리, 나머지 전부를 다 받는다
print(x, y)

*x, y = range(10)
print(x, y)
# 이게 되긴 하는데 나중에 함수에서 def func(*x, y) 하면 인자가 전부 x한테 들어가서 에러남

x, y, *z = range(10)
print(x, y, z)
# x에 1개, y에 1개, 나머진 전부 묶어서 z

**언패킹**
- argument 이름이 *로 시작하는 경우, argument unpacking이라고 부릅니다.
- 패킹의 경우, 리스트로 대입합니다.

In [121]:
def multiply(x, y, z):
    return x * y * z

- 언패킹의 경우, 튜플 형태로 대입합니다.

In [124]:
numbers = [1, 2, 3]
# multiply(numbers)  # multiply([1, 2, 3])
multiply(*numbers)  # multiply(1, 2, 3)

6

**패킹/언패킹 연산자 주의사항**

` * ` 연산자가 곱셈을 의미하는지 패킹/언패킹 연산자인지 구분하여야 합니다.
- 패킹/언패킹 연산자의 경우
    1. 연산자가 대입식의 좌측에 위치하는 경우
    2. 연산자가 단항 연산자로 사용되는 경우
        - 단항 연산자 : 하나의 항을 대상으로 연산이 이루어지는 연산자
        
        
- 산술연산자의 경우
    1. 연산자가 이항연산자로 사용되는 경우
        - 이항 연산자 : 두 개의 항을 대상으로 연산이 이루어지는 연산자

## 비 시퀀스형(Non-sequence) 컨테이너

- 세트(set)

- 딕셔너리(dictionary)

### 세트 (Set)

`set`은 순서가 없고 중복된 값이 없는 자료구조입니다.

* `set`은 수학에서의 집합과 동일하게 처리됩니다.

* `set`은 중괄호`{}`를 통해 만들며, 순서가 없고 중복된 값이 없습니다.

* 담고있는 객체를 삽입 변경, 삭제 가능 (mutable) 합니다.

* 빈 세트를 만들려면 `set()`을 사용해야 합니다. (`{}`로 사용 불가능)

* 활용 가능한 연산자는 차집합(`-`), 합집합(`|`), 교집합(`&`)입니다.

**생성과 접근**
```python
{value1, value2, value3}
```

In [190]:
# 빈 셋은 set()밖에 못쓴다.
# {}는 딕셔너리에 뺏김
s = set()
type(s)

set

In [ ]:
# set 두개를 만들어서 연산자들을 활용해봅시다.
s1 = {1, 2, 3, 1, 2, 1}  # 아예 중복값은 무시해준다.
s2 = {5, 4, 3}  # 순서가 없다는 것은, 내가 5, 4, 3을 넣어줬을 때 5, 4, 3을 돌려준다는 것. 추가로 새 값을 넣어줬을 때도 그 순서가 그대로 유지되어야 순서가 있는 것이다.
print(s1, type(s1), s2, type(s2))

{1, 2, 3} <class 'set'> {3, 4, 5} <class 'set'>

* 차집합은 연산자 `-`를 사용합니다.

In [153]:
# set_a와 set_b의 차집합을 구해봅시다.
s1 - s2

{1, 2}

* 합집합은 연산자 `|`를 사용합니다.

In [154]:
# set_a와 set_b의 합집합을 구해봅시다.
s1 | s2

{1, 2, 3, 4, 5}

* 교집합은 연산자 `&`을 사용합니다.

In [158]:
# set_a와 set_b의 교집합을 구해봅시다.
s1 & s2

{3}

In [159]:
# set은 중복된 값이 있을 수 없습니다.
s1 = {1,2,3,1,2}
print(s1)

{1, 2, 3}

* `set`을 활용하면 `list`의 중복된 값을 손쉽게 제거할 수 있습니다.
* 단, `set`으로 변환하는 순간 순서를 보장할 수 없습니다.

In [179]:
# set으로 중복된 값을 제거해봅시다.
# 문자열 서울, 서울, 대전, 광주, 서울, 대전, 부산, 부산을 원소로 가지는 set를 만듭니다.
# 생성한 세트의 길이를 출력해 봅시다.
locations = ['서울', '서울', '대전', '광주', '서울', '대전', '부산', '부산']
print(locations, len(locations))
locations_set = set(locations)
print(locations_set, len(locations_set))
locations_list = list(locations_set)
print(locations_list, len(locations_list))

['서울', '서울', '대전', '광주', '서울', '대전', '부산', '부산'] 8
{'서울', '대전', '부산', '광주'} 4
['서울', '대전', '부산', '광주'] 4

In [ ]:
locations_set[1]
# TypeError: 'set' object is not subscriptable
# 인덱스 접근이 불가하다는 뜻

TypeError: 'set' object is not subscriptable

### 딕셔너리 (dictionary)

`dictionary`는 `key`와 `value`가 쌍으로 이뤄져있습니다.


<center><img src="https://user-images.githubusercontent.com/18046097/61180427-1405d880-a651-11e9-94e1-1cc5c2a2ff34.png"></center>

**생성과 접근**

```python
{Key1:Value1, Key2:Value2, Key3:Value3, ...}
```

* `{}`를 통해 만들며, `dict()`로 만들 수 있습니다.
* 순서를 보장하지 않습니다.
* `key`는 **변경 불가능(immutable)한 데이터**만 가능합니다. (immutable : string, integer, float, boolean, tuple, range)
* `value`는 `list`, `dictionary`를 포함한 모든 것이 가능합니다.

In [ ]:
# index 대신에 원하는 이름을 넣는 것이라 이해하면 편하다
# 그래서 원하는 키 값을 지정해줘야함

In [192]:
# 비어있는 dictionary를 두가지 방법으로 만들어봅시다.
# {}와 dict()로 만들 수 있습니다.
# 두 변수의 타입을 출력해 봅시다.

d1 = {}
d2 = dict()

type(d1), type(d2)

(dict, dict)

In [ ]:
# dictionary에 중복된 key는 존재할 수 없습니다.
d3 = {'a': 1, 'a': 2, 'b': 1}
d3
# value가 같은건 상관 없는데 중복된 key는 없어진다

{'a': 2, 'b': 1}

In [205]:
# 지역번호가 담긴 전화번호부를 만들어봅시다.
# 변수 phone_book에 key를 지역명, value를 지역번호로 가지는 원소를 작성합니다.
# 예) 서울 - 02
phone_book = {
    '서울': '02', 
    '경기도': '031', 
    '인천': '032', 
    '광주': '062', 
    '충청': '041',
}

print(phone_book)
print(phone_book['서울'])

{'서울': '02', '경기도': '031', '인천': '032', '광주': '062', '충청': '041'}
02

In [ ]:
# 위에서 작성한 phone_book이 가지고 있는 key 목록을 확인 해 봅시다.
# dictionary의 .keys() 메소드를 활용하여 key를 확인 해볼 수 있습니다.

# method는 함수의 일종, 앞에 .이 붙어 있는 함수들 --> 무언가에 종속되어 있다
phone_book.keys()

dict_keys(['서울', '경기도', '인천', '광주', '충청'])

In [ ]:
# 위에서 작성한 phone_book이 가지고 있는 value 목록을 확인 해 봅시다.
# 딕셔너리의 .values() 메소드를 활용하여 value를 확인 해볼 수 있습니다.
phone_book.values()

dict_values(['02', '031', '032', '062', '041'])

In [209]:
# 위에서 작성한 phone_book이 가지고 있는 key와 value 목록을 확인 해 봅시다.
# 딕셔너리의 .items() 메소드를 활용하여 key, value를 확인 해볼 수 있습니다.
phone_book.items()

dict_items([('서울', '02'), ('경기도', '031'), ('인천', '032'), ('광주', '062'), ('충청', '041')])

In [ ]:
phone_book['서울'] = '02'
# dictionary의 value들은 mutable하다.

# 형변환(Type conversion, Typecasting)

파이썬에서 데이터타입은 서로 변환할 수 있습니다.

- 암시적 형변환
- 명시적 형변환

## 컨테이너형 형변환

파이썬에서 컨테이너는 서로 변환할 수 있습니다.

<img width="708" alt="typecasting" src="https://user-images.githubusercontent.com/18046097/61180466-a6a67780-a651-11e9-8c0a-adb9e1ee04de.png">

In [ ]:
# 모든 컨테이너는 스트링이 될 수 있고, 레인지나 딕셔너리는 될 수 없다

# 하나의 결과를 확인 한 후, 주석 `#` 을 활용하여 이전의 코드를 비활성화 합니다.
# 형변환 후의 결과를 확인 합니다.

In [ ]:
# list를 형변환 해봅시다.
l = [1,2,3, 1]
# str(l)    # '[1, 2, 3, 1]'
# tuple(l)  # (1, 2, 3, 1)
# range(l)  # TypeError: 'list' object cannot be interpreted as an integer
# set(l)    # {1, 2, 3}
# dict(l)   # TypeError: cannot convert dictionary update sequence element #0 to a sequence

In [ ]:
# tuple을 형변환 해봅시다.
t = (1, 2, 3, 1)
# str(t)    # '(1, 2, 3, 1)'
# list(t)   # [1, 2, 3, 1]
# range(t)
# set(t)    # {1, 2, 3}
# dict(t)

{1, 2, 3}

In [ ]:
# range를 형변환 해봅시다.
r = range(3)
# str(r)    # 'range(0, 3)'
# list(r)   # [0, 1, 2]
# tuple(r)  # (0, 1, 2)
# set(r)    # {0, 1, 2}
# dict(r)

In [ ]:
# set을 형변환 해봅시다.
s = {1, 2, 3}
# str(s)    # '{1, 2, 3}'
# list(s)   # [0, 1, 2]
# tuple(s)  # (0, 1, 2)
# range(s)
# dict(s)

In [ ]:
# dictionary를 형변환 해봅시다.
# list, tuple, set으로 변환 시 key만 떼서 나온다.
d = {'a': 1, 'b': 2, 'c': 3}
# str(d)    # "{'a': 1, 'b': 2, 'c': 3}"
# list(d)   # ['a', 'b', 'c']
# tuple(d)  # ('a', 'b', 'c')
# range(d)
# set(d)    # {'a', 'b', 'c'}

In [ ]:
# Hashable??
ss = {1, 2, 3}

# set에 list를 추가하려 하면 에러가 난다.
# ss.add([1, 2])
# TypeError: unhashable type: 'list'

# 근데 tuple은 됨
ss.add((1, 2))
print(ss)

# hashable = immutable, 수정 가능한 친구들은 해쉬화가 불가능하다.
# immutable 한 다른 것들도 들어갈 수 있다. - str, int, float, range, tuple
ss.add(range(2))
ss.add('str')
ss.add(100)  # 애초에 set에 정수가 들어있던 이유가 int가 immutable하기 때문
print(ss)

# immutable한 친구가 하나 더 있었다. dictionary의 key도 immutable함
dd = {1: 1, 'a': 2, 3.14: 3, (1, 2): 4, range(20): 5}
print(dd)

{(1, 2), 1, 2, 3}
{1, 2, (1, 2), 3, 100, range(0, 2), 'str'}
{1: 1, 'a': 2, 3.14: 3, (1, 2): 4, range(0, 20): 5}

# 정리
## 컨테이너(Container)
<center><img src="https://user-images.githubusercontent.com/18046097/61180439-44e60d80-a651-11e9-9adc-e60fa57c2165.png", alt="container"/></center>

## 시퀀스형 연산자(Sqeuence Type Operator)

### 산술 연산자 (+)
시퀀스를 연결(concatenation)할 수 있습니다.

In [ ]:
# 두 list [1, 2] 와 ['a'] 를 + 를 이용하여 합쳐봅시다.

In [136]:
[1,2] + ['a']

[1, 2, 'a']

In [ ]:
# 두 튜플 (1, 2) 와 ('a',) 를 + 를 이용하여 합쳐봅시다.

In [135]:
(1,2) + ('a',)

(1, 2, 'a')

In [ ]:
# range에는 사용할 수 없습니다.
# range(1), range(2, 5) 를 + 를 이용하여 합치고자 할 때 발생하는 오류를 확인해 봅시다.

In [128]:
# print(range(1) + range(2,5))
# TypeError: unsupported operand type(s) for +: 'range' and 'range'

In [ ]:
# 두 문자열 '12' 와 'a' 를 + 를 이용하여 합쳐봅시다.

In [129]:
'12' + 'a'

'12a'

### 반복 연산자 (*)
시퀀스를 반복할 수 있습니다.

In [ ]:
# 리스트 [0] 을 *을 이용해 8번 반복해봅시다.

In [130]:
[0] * 8

[0, 0, 0, 0, 0, 0, 0, 0]

In [ ]:
# 튜플 (1, 2) 를 * 을 활용해 3번 반복해봅시다.

In [131]:
(1,2) * 3

(1, 2, 1, 2, 1, 2)

In [ ]:
# range에는 사용할 수 없습니다.
# range(1) 을 * 연산자로 3번 반복하려고 할 때 발생하는 오류를 확인해 봅시다.

In [133]:
# range(1) * 3
# TypeError: unsupported operand type(s) for *: 'range' and 'int'

In [ ]:
# 문자열 'hi' 를 * 을 활용해 3번 반복해봅시다.

In [134]:
'hi' * 3

'hihihi'

## 기타 : 인덱싱/슬라이싱 (Indexing/Slicing)
`[]`를 통한 값을 접근하고, `[:]`을 통해 슬라이싱할 수 있습니다. (data structure 챕터에서 자세하게 학습합니다.)

### 인덱싱
시퀀스의 특정 인덱스 값에 접근 할 수 있습니다.
- 해당 인덱스가 없는 경우 IndexError가 발생합니다.

In [ ]:
# 리스트를 인덱싱을 통해 값에 접근해봅시다.
# 리스트 [1, 2, 3]의 세번째 값을 인덱싱으로 확인해봅시다.

In [137]:
[1, 2, 3][2]

3

In [ ]:
# 튜플을 인덱싱을 통해 값에 접근해봅시다.
# 튜플 (1, 2, 3)의 첫번째 값을 인덱싱으로 확인해봅시다.

In [138]:
(1, 2, 3)[0]

1

In [ ]:
# range를 인덱싱을 통해 값에 접근해봅시다.
# range(3)의 세번째 값을 인덱싱으로 확인해봅시다.

In [139]:
range(3)[2]

2

In [ ]:
# 문자열을 인덱싱을 통해 값에 접근해봅시다.
# 문자열 'abc'의 첫번째 값을 인덱싱으로 확인해봅시다.

In [140]:
'abc'[0]

'a'

In [ ]:
# 찾고자 하는 인덱스가 존재하지 않을때 오류가 발생합니다.
# 문자열 apple의 100번째 값을 인덱싱으로 확인하고자 할 때 발생하는 오류를 확인해봅시다.

In [ ]:
# 'apple'[99]
# IndexError: string index out of range

### 슬라이싱
- Sequence[start:end[:step]]

시퀀스를 특정 단위로 슬라이싱 할 수 있습니다.

In [151]:
# 아래 코드들을 실행한 결과를 확인하여 슬라이싱의 작동 원리를 파악해봅시다.

# 문자열, 튜플, 레인지에서 모두 동일하게 동작
print([1, 2, 3, 4][1:4])  # [시작 인덱스 이상 : 끝 인덱스 미만]
print((1, 2, 3)[:2])  # 비어있으면 시작/끝
print(range(10)[5:8])  # 5, 6, 7 >> range는 인덱스니까 range(5,8)
print('abcd'[2:100])  # slice 마지막 인덱스가 더 크더라도, 에러가 발생하지 않는다.

phone = '010-1234-5678'
phone[:3] + phone[4:8] + phone[9:]

[2, 3, 4]
(1, 2)
range(5, 8)
cd

'01012345678'

시퀀스를 `k` 간격으로 슬라이싱 할 수 있습니다.

In [148]:
# 아래의 코드를 실행하여 결과를 확인해 봅시다.
s = 'abcdefghi'

In [ ]:
print(s[:3])
print(s[5:])
print(s[::])
print(s[::-1])  # 거꾸로

abc
fghi
abcdefghi
ihgfedcba

# 정리

## 변수(Variable)와 자료형(Data Type)

<center><img width=800 height=400 src="https://user-images.githubusercontent.com/9452521/87640197-55a7f280-c781-11ea-9cff-19c022ce704a.png", alt="variable"/></center>

## 컨테이너(Container)
<center><img src="https://user-images.githubusercontent.com/18046097/61180439-44e60d80-a651-11e9-9adc-e60fa57c2165.png", alt="container"/></center>

## 함수 (Function)
- 특정 명령을 수행하는 함수 묶음을 말합니다.

In [272]:
# 함수의 정의
def multiply(x, y, z):
    return x * y * z

# 함수의 실행
multiply(5, 6, 3)

90

## 모듈 (Module)
- 함수 / 클래스의 모음 또는 하나의 프로그램을 구성하는 단위를 의미합니다.

## 패키지 (Package)
- 프로그램과 모듈의 묶음을 의미합니다.
    - 프로그램 : 실행하기 위한 것
    - 모듈 : 다른 프로그램에서 불러와 사용하기 위한 것
![module](https://user-images.githubusercontent.com/45934087/148158664-3798bd68-a9fa-4c21-be01-874bada7c11c.png)

In [ ]:
# a.py, b.py 파일             == 모듈
# 파이썬 파일들이 들어있는 폴더 == 패키지
# 패키지들이 모인 모음         == 라이브러리

## 라이브러리 (Library)
- 패키지의 모음을 의미합니다.
![Library](https://user-images.githubusercontent.com/45934087/148158810-466f417d-f950-4ac0-abcb-321e0577d043.png)